.footer {
    background-color: #302f2f;
    color: #fcfcfc;
    text-align: center;
    padding: 20px 10px;
    margin-top: 20px;
  }
  
  .footer p {
    margin: 5px 0;
    font-size: 0.9rem;
  }
  
  .footer a {
    color: #ffa500;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  