.header {
    background-color: #f2f5f5;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 20px;
    margin-bottom: 30px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo h1 {
    font-size: 1.5rem;
    color: #21cac2;
    margin: 0;
  }
  
  nav ul {
    display: flex; /* Menggunakan Flexbox untuk pengaturan jarak */
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin-right: 20px; /* Atur jarak antar item */
  }
  
  nav ul li:last-child {
    margin-right: 0; /* Menghilangkan margin untuk item terakhir */
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  

  .login-btn {
    background-color: #21cac2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 20px; /* Sudut yang lebih tumpul */

  }
  
  .login-btn:hover {
    background-color: #ffa500;
  }
  
  .register-btn {
    background-color: #21cac2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 20px; /* Sudut yang lebih tumpul */

  }
  
  .register-btn:hover {
    background-color: #ffa500;
  }