.hero-section {
  background-image: url('../assets/herooo.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.subsection {
  margin: 40px 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Light background for contrast */
  border-radius: 8px;
}

.subsection h2 {
  font-size: 2rem;
  color: #002766;
}

.subsection p {
  font-size: 1 rem;
}

.subsection img {
  max-width: 50%;
  height: auto;
  margin-top: 10px;
}
