.portofolio-section {
    padding: 2rem;
    background-color: #f8f9fa;
}

.portofolio-section .container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.portofolio-section h2 {
    font-size: 2.5rem;
    color: #21cac2;
    margin-bottom: 1rem;
}

.portofolio-section p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 2rem;
}

.portfolio-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    width: calc(33% - 2rem); /* Three items per row with spacing */
    display: inline-block;
    vertical-align: top;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.portfolio-item h3 {
    font-size: 1.5rem;
    color: #007bff;
    margin-top: 1rem;
}

.portfolio-item p {
    font-size: 0.9rem;
    color: #555;
    margin-top: 0.5rem;
}

.button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #21cac2;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #007bff;
}
